*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mr-20{
    margin-right: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-5{
    margin-left: 5px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.fs{
    justify-content: flex-start;
    width: 100%;
}
.fe{
    justify-content: flex-end;
    width: 100%;
}
.back{
    background-color: coral;
    height: 100vh;
    
}
.container{
    width: 1100px;
    height: 95%;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
}

.left{
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.user-name{
    width: 100%;
    height: 50px;
    background-color: grey;
    display: flex;
    align-items: center;
}
.notifications{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 119, 255);
    display: flex;
    align-items: center;
}
.user{
    width: 100%;
    background-color: white;
    flex-grow: 1;
    margin-top: 10px;
    overflow-y: scroll;
}
.right{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    flex-direction: column;
}
.chat{
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
}
.body-message{
    width: 100%;
    background-image: url(../img/mine.jpg);
    height: 510px;
}
.footer-message{
    width: 100%;
    height: calc(100% - 560px);
    background-color: rosybrown;
    align-items: center;
    display: flex;
}
.fo-center{
    flex-grow: 1;
    height: calc(100% - 10px);
    margin-top: 5px;
    line-height: calc(100% - 10px);
}
.fo-center input{
    width: 100%;
    height: calc(100% - 10px);
}
.fo-center input::placeholder{
    padding-left: 20px;
}
.img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.img img{
    width: 100%;
    border-radius: 50%;
}
.name{
    flex-grow: 1;
}
.drin{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 119, 255);
}
.find-chat{
    margin-top: 10px;
    text-align: center;
    
}
.find-chat input{
    width: 95%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border-color: grey;
}
.contact{
    display: flex;
    height: 70px;
    align-items: center;
}
.flex{
    display: flex;
}
.grey{
    background-color: grey;
}
.white{
    background-color: white;
}
.drin img{
    width: 100%;
    border-radius: 50%;
}
.user-active{
    width: 40px;
    height: 40px;
}
.user-active img{
    width: 100%;
    border-radius: 50%;
}
.chat-active{
    display: flex;
    flex-grow: 1;
}
/* .message-sent,.message-received{
    width: 100%;
    margin-top: 10px;
    display: flex;
}
.message-sent{
    justify-content: end;
}
.message-received{
    justify-content: start;
}
.sent,.received{
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
}
.sent{
    background-color: chartreuse;
    margin-right: 20px;
}
.received{
    margin-left: 20px;
    background-color: white;
     display: flex;
    flex-wrap: wrap;
}  */
.tas{
    text-align: start;
}
.tae{
    text-align: end;
}
.container-message-sent{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.message-sent{
    background-color: chartreuse;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-right: 30px;
}
.container-message-received{
    margin-top: 10px;
    display: flex;
    justify-content: start;
}
.message-received{
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
}
.container-message{
    margin-top: 30px;
}
.find-chat input::placeholder{
    padding-left: 20px;
    
}
.find-chat input::placeholder::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f610";
}