<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div class="back" id="app">
       <div class="container">
           <div class="left">
               <div class="user-name">
                   <div class="img">
                       <img src="img/avatar_io.jpg" alt="">
                   </div>
                   <div class="name">
                       <p>Nome Utente</p>
                   </div>
                   <div class="action">
                    <i class="fas fa-circle-notch ml-10"></i>
                    <i class="fas fa-comment-alt ml-10"></i>
                    <i class="fas fa-ellipsis-v mr-20 ml-10"></i>
                   </div>
               </div>
               <div class="notifications">
                    <div class="drin ml-15">
                        <i class="fas fa-bell-slash "></i>
                    </div>
                    <div class="message-notif ml-5">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
               </div>
               <div class="find-chat">
                   <input style="font-family: 'Font Awesome 5 Free'; font-weight: 900;" type="text" 
                          placeholder= " &#xf610; Cerca o inizia una nuova chat"
                          v-model="search">          
               </div>
               <div class="user" >
                    <div class="contact" 
                         v-if="searchName(contact)" 
                         v-for="(contact,i) in contacts" 
                         @click="thisContact(i)"
                         >
                        <div class="img flex mr-20" >
                            <img :src="getContactImg(contact)" alt="contatto">
                            <div class="contact-name ml-15">{{contact.name}}</div>
                        </div>
                    </div>
               </div>
           </div>
           <div class="right">
               <div class="chat">
                   <div class="chat-active">
                       <div class="user-active ml-15">
                           <img :src="getContactImg(contacts[currentIndex])" alt="">
                       </div>
                       <div class="name-active ml-5">
                           <p>{{contacts[currentIndex].name}}</p>
                           <p>Ultimo accesso oggi alle {{lastContactDate(contacts[currentIndex])}} </p>
                       </div>
                   </div>
                   <div class="action">
                        <i class="fas fa-search  ml-10"></i>
                        <i class="fas fa-paperclip ml-10 "></i>
                        <i class="fas fa-ellipsis-v mr-20 ml-10"></i>
                   </div>
               </div>   
               <div class="body-message">
                  <div class="container-message">
                      <div v-for="(message,i) in contacts[currentIndex].messages" :class="message.status">
                        <div class="message" >
                           <p class="w-100 tae mt-1 mr-20 icon" @click="showModal"> <i class="fas fa-angle-down"></i></p>
                           <div v-if="upHere" class="modal">
                               <p class="mt-30">Message info</p>
                               <p @click="deleteMessage(i)">Delete message</p>
                           </div>
                            <p class="tas ml-5  w-100 ">{{message.text}}</p>
                            <p class="tae fss mr-20 w-100">{{message.date}}</p>
                        </div>
                      </div>
                  </div>
               </div>
               <div class="footer-message">
                   <div class="fo-left">
                    <i class="far fa-smile ml-15 mr-20"></i>
                   </div>
                   <div class="fo-center">
                       <input type="text" placeholder="scrivi un messaggio" v-model="newText" @keyup.enter="addText" >
                   </div>
                   <div class="fo-right">
                    <i class="fas fa-microphone mr-20 ml-15"></i>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
  <script src="js/script.js"></script>  
</body>
</html>

